<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user info</title>
    <style>
        body {
            background-color: #88b6db;
        }

        main {
            margin: 43px 839px 0px 347px;
            background-color: white;
            padding: 3px 0px 19px 60px;
            border-radius: 14px 14px 14px 14px;
            box-shadow: 3px 3px 41px -6px;
            font-family: Arial, Helvetica, sans-serif;
        }
        h2{
            color: #121287;
        }
    </style>
</head>

<body>
    <main>
        <h2>Welcome! <%= info.username %>
        </h2>
        <!-- <p>id: <%= info.id %></p> -->
        <p>Nome Completo: <%= info.fullname %>
        </p>
        <p>CPF: <%= info.cpf %>
        </p>
        <p>Numero de Telefone: <%= info.phonenumber %>
        </p>
        <p>Endereço: <%= info.address %>
        </p>
        <p>Data de Nascimento: <%= info.dateofbirth %>
        </p>
    </main>

</body>

</html>