<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user info</title>
</head>
<body>

    <p>Usuario: <%= info.username %></p> 
    <p>Nome Completo: <%= info.fullname %></p> 
    <p>CPF: <%= info.cpf %></p> 
    <p>Numero de Telefone: <%= info.phonenumber %></p> 
    <p>Endereço: <%= info.address %></p> 
    <p>Data de Nascimento: <%= info.dateofbirth %></p> 
  
</body>
</html>