<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user info</title>
    <style>
    body{
        background-color: #88b6db;
    } 
    main{
        margin: 43px 0px 0px 347px;
        background-color: white;
    }
    </style>
</head>

<body>
    <main>
        <h1>Welcome! <%= info.username %>
        </h1>
        <p>Nome Completo: <%= info.fullname %>
        </p>
        <p>CPF: <%= info.cpf %>
        </p>
        <p>Numero de Telefone: <%= info.phonenumber %>
        </p>
        <p>Endereço: <%= info.address %>
        </p>
        <p>Data de Nascimento: <%= info.dateofbirth %>
        </p>
    </main>

</body>

</html>