<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel de Administração</title>
</head>
<body>
    <h1>usuarios</h1>

    <main>
        <h2>Welcome! <%= info.username %>
        </h2>
        <p>id: <%= info.id %></p>
        <p>Nome Completo: <%= info.fullname %>
        </p>
        <p>CPF: <%= info.cpf %>
        </p>
        <p>Numero de Telefone: <%= info.phonenumber %>
        </p>
        <p>Endereço: <%= info.address %>
        </p>
        <p>Data de Nascimento: <%= info.dateofbirth %>
        </p>
    </main>


    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Nome Completo</th>
                <th>CPF</th>
                <th>Telefone</th>
                <th>Endereço</th>
                <th>Data de Nascimento</th>
            </tr>
        </thead>
        <tbody>
           <% info.users.forEach((usuario) => { %> 
                <tr>
                    <td><%= usuario.id %></td>
                    <td><%= usuario.username %></td>
                    <td><%= usuario.fullname %></td>
                    <td><%= usuario.cpf %></td>
                    <td><%= usuario.phonenumber %></td>
                    <td><%= usuario.address %></td>
                    <td><%= usuario.dateofbirth %></td>
                    <td>
                        <button onclick="alert(`<%= usuario.id %>`)"> editar</button>
                        <button onclick="alert(`<%= usuario.id %>`)"> excluir</button>
        
                    </td>
                </tr>
             <% }); %> 
        </tbody>
    </table>
    
 

</body>
</html>
